<div class="row s_mb_20">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 text_align_r s_mt_40">
                <a href="/{{league.slug}}/tournaments/{{tournament.slug}}/teams/{{article.game.teams.[0]._id}}">
                    {{article.game.teams.[0].name}}
                </a>
            </div>
            <div class="col-md-2">
                <img class="s_mr_10" src="http://amateurs.io/api/img/teams/{{article.game.teams.[0].name}}.png" width="100"
                     height="100"/>
            </div>
            <div class="col-md-2 text_color_light text_align_c s_mt_10 s_pl_0 s_pr_0">
                <i class="fa fa-location-arrow text_color_orange s_mr_5"></i>
                {{#if article.game.dateTime}}
                    <p class="text_size_12 text_color_light s_mb_3">
                        {{dateHuman article.game.dateTime}}<br>
                        {{ucfirst (dateDay article.game.dateTime)}}<br>
                        {{#if article.game.time}}{{time article.game.dateTime}}{{/if}}
                    </p>
                {{/if}}
                {{#if article.game.placeName}}
                    <p class="text_size_12 text_color_muted ">
                        {{article.game.placeName}}
                    </p>
                {{/if}}
            </div>
            <div class="col-md-2">
                <img class="s_mr_10" src="http://amateurs.io/api/img/teams/{{article.game.teams.[1].name}}.png" width="100"
                     height="100"/>
            </div>
            <div class="col-md-3 s_mt_40">
                <a href="/{{league.slug}}/tournaments/{{tournament.slug}}/teams/{{article.game.teams.[1]._id}}">
                    {{article.game.teams.[1].name}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="reading s_pl_10 s_pr_10">
            {{{article.body}}}

            {{> video video=article.video}}
        </div>
    </div>
</div>
