{{#each globals.contactsCountry}}
    <div class="contact s_mb_20">
        <div class="contact__photo" style="background-image: url('{{photo}}')"></div>
        <div class="contact__details">
            <div class="contact__name">{{name}}</div>
            <div class="contact__title">{{title}}</div>
            <div class="contact__phone"><i class="fa fa-phone"></i>{{phone}}</div>
            <div class="contact__vk"><i class="fa fa-vk"></i><a href="{{vk.url}}" target="_blank">{{vk.name}}</a></div>
        </div>
    </div>
{{/each}}

{{#each globals.contactsLeague}}
    <div class="contact s_mb_20">
        <div class="contact__photo" style="background-image: url('{{photo}}')"></div>
        <div class="contact__details">
            <div class="contact__name">{{name}}</div>
            <div class="contact__title">{{title}}</div>
            <div class="contact__phone"><i class="fa fa-phone"></i>{{phone}}</div>
            <div class="contact__vk"><i class="fa fa-vk"></i><a href="{{vk.url}}" target="_blank">{{vk.name}}</a></div>
        </div>
    </div>
{{/each}}
