<div class="row">
    {{#if tables.length}}
        <div class="col-md-1" style="width: {{div 100 (inc (length (keys stages)))}}%">
            <h5 class="text_align_c">Групповой этап</h5>
        </div>
    {{/if}}
    {{#each stages}}
        <div class="col-md-1{{#unless @first}} s_pl_0{{/unless}}"
             style="width:
                 {{~#if ../tables.length~}}
                     {{~div 100 (inc (length (keys ../stages)))~}}
                     {{~else~}}
                     {{~div 100 (length (keys ../stages))~}}
                 {{~/if~}}%">
            <h5 class="text_align_c">{{ucfirst @key}}</h5>
        </div>
    {{/each}}
</div>

<div class="row">
    {{#if tables.length}}
        <div class="col-md-1 col-valign-m"
             style="width: {{div 100 (inc (length (keys stages)))}}%">
            <div class="row">
                <div class="col-md-12">
                    {{~#each tables~}}
                        <div class="panel{{#if @last}} s_mb_0{{else}} s_mb_20{{/if}}">
                            <div class="panel__header">
                                <i class="fa fa-list-ol s_mr_10"></i> {{#gt ../tables.length 1}}{{stageName}}{{else}}Таблица{{/gt}}
                            </div>
                            <div class="panel__body s_p_0 s_pb_5">
                                {{> table table=this league=../globals.league tournament=../tournament tableFull=false hideHeader=true showLogo=true}}
                            </div>
                        </div>
                    {{~/each~}}
                </div>
            </div>
        </div>
    {{/if}}

    {{#gt 6 (length (keys stages))}}
        {{#each stages}}
            <div class="col-md-1 col-valign-m"
                 style="width:
                     {{~#if ../tables.length~}}
                         {{~div 97.4 (inc (length (keys ../stages)))~}}
                         {{~else~}}
                         {{~div 97.4 (length (keys ../stages))~}}
                     {{~/if~}}%">

                {{#each this}}
                    <div class="panel{{#if @last}} s_mb_0{{else}} s_mb_20{{/if}}">
                        <div class="panel__body">
                            {{#each this}}
                                <div class="{{#gt ../this.length 1}}{{#if @first}}s_mb_20{{/if}}{{/gt}}">
                                    <div class="row s_mb_10">
                                        <div class="col-md-12 text_size_12 text_color_light">
                                            {{~#if dateTime}}
                                                <span>{{dateTimeShort dateTime}}</span>
                                            {{else}}
                                                <span>Время не назначено</span>
                                            {{/if~}}
                                            {{#gt ../this.length 1}}
                                                <span class="s_float_r s_display_inline-block">Матч {{inc @key}}</span>
                                            {{/gt}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-9">
                                        <span class="fixture__team s_display_block
                                            {{~#eq (gameResTeam teams.[0] this) 'w'}} fixture__winner{{/eq~}}
                                            {{~#eq (gameResTeam teams.[0] this) 'l'}} fixture__looser{{/eq~}}
                                        ">
                                            {{#if teams.[0]._id}}
                                                <span class="tl tl-{{teams.[0]._id}}-20 s_valign_m s_mr_10"></span>
                                                    <a href="/{{../../../globals.league.slug}}/tournaments/{{../../../globals.tournament.slug}}/teams/{{teams.[0]._id}}">{{~teams.[0].name~}}</a>
                                            {{else}}
                                                {{~teams.[0].name~}}
                                            {{/if}}
                                        </span>
                                        <span class="fixture__team s_display_block
                                            {{~#eq (gameResTeam teams.[0] this) 'l'}} fixture__winner{{/eq~}}
                                            {{~#eq (gameResTeam teams.[0] this) 'w'}} fixture__looser{{/eq~}}
                                        ">
                                            {{#if teams.[1]._id}}
                                                <span class="tl tl-{{teams.[1]._id}}-20 s_valign_m s_mr_10"></span>
                                                    <a href="/{{../../../globals.league.slug}}/tournaments/{{../../../globals.tournament.slug}}/teams/{{teams.[1]._id}}">{{~teams.[1].name~}}</a>
                                            {{else}}
                                                {{~teams.[1].name~}}
                                            {{/if}}
                                        </span>
                                        </div>
                                        <div class="col-md-3 text_align_r">
                                            {{#if _id}}
                                                <a href="/{{../../../globals.league.slug}}/tournaments/{{../../../globals.tournament.slug}}/matches/{{_id}}">
                                                    {{#if score}}
                                                        <div class="fixture__score_type_cup
                                                            {{~#eq (gameResTeam teams.[0] this) 'w'}} fixture__winner{{/eq~}}
                                                            {{~#eq (gameResTeam teams.[0] this) 'l'}} fixture__looser{{/eq~}}
                                                        ">
                                                            {{#if score.pen}}
                                                                <span class="fixture__score_type_pen">{{~score.pen.[0]}}</span>
                                                            {{/if}}
                                                            <span>{{~score.ft.[0]}}</span>
                                                        </div>
                                                        <div class="fixture__score_type_cup
                                                            {{~#eq (gameResTeam teams.[0] this) 'l'}} fixture__winner{{/eq~}}
                                                            {{~#eq (gameResTeam teams.[0] this) 'w'}} fixture__looser{{/eq~}}
                                                        ">
                                                            {{#if score.pen}}
                                                                <span class="fixture__score_type_pen">{{~score.pen.[1]}}</span>
                                                            {{/if}}
                                                            <span>{{~score.ft.[1]}}</span>
                                                        </div>
                                                    {{else}}
                                                        <div>-</div>
                                                        <div>-</div>
                                                    {{/if}}
                                                </a>
                                            {{else}}
                                                <div>-</div>
                                                <div>-</div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    {{else}}
        {{#each stages}}
        <div class="col-md-1 col-valign-m"
             style="width:
                 {{~#if ../tables.length~}}
                     {{~div 97.4 (inc (length (keys ../stages)))~}}
                     {{~else~}}
                     {{~div 97.4 (length (keys ../stages))~}}
                 {{~/if~}}%">

            {{#each this}}
            <div class="panel s_mb_20">
                <div class="panel__body">
                    {{#each this}}
                    <div class="{{#gt ../this.length 1}}{{#if @first}}s_mb_20{{/if}}{{/gt}}">
                        <div class="row s_mb_10">
                            <div class="col-md-12 text_size_12 text_color_light text_align_c">
                                {{~#if dateTime}}
                                    <span>{{dateTimeShort dateTime}}</span>
                                {{/if~}}
                                {{#gt ../this.length 1}}
                                    <span class="s_float_r s_display_inline-block">Матч {{inc @key}}</span>
                                {{/gt}}
                            </div>
                        </div>

                        <div class="row text_align_c">

                            <a class="s_display_inline-block" href="/{{../../../globals.league.slug}}/tournaments/{{../../../globals.tournament.slug}}/matches/{{_id}}">
                                <div class="s_display_inline-block">
                                    <span class="fixture__team s_display_block">
                                        {{#if teams.[0]._id}}
                                            <span class="tl tl-{{teams.[0]._id}}-35 s_valign_m" title="{{~teams.[0].name~}}"></span>
                                        {{else}}
                                            {{~teams.[0].name~}}
                                        {{/if}}
                                    </span>
                                    {{#if score~}}
                                        <span class="
                                            {{~#eq (gameResTeam teams.[0] this) 'w'}} fixture__winner{{/eq~}}
                                            {{~#eq (gameResTeam teams.[0] this) 'l'}} fixture__looser{{/eq~}}
                                            ">
                                            {{~score.ft.[0]~}}
                                        </span>
                                        {{~#if score.pen~}}
                                            <br/><span class="fixture__score_type_pen
                                            {{~#eq (gameResTeam teams.[0] this) 'w'}} fixture__winner{{/eq~}}
                                                {{~#eq (gameResTeam teams.[0] this) 'l'}} fixture__looser{{/eq~}}
                                            ">
                                                {{~score.pen.[0]~}}
                                            </span>
                                        {{/if}}
                                    {{/if}}
                                </div>

                                <div class="s_display_inline-block">
                                    <span class="fixture__team s_display_block
                                                {{~#eq (gameResTeam teams.[0] this) 'l'}} fixture__winner{{/eq~}}
                                        {{~#eq (gameResTeam teams.[0] this) 'w'}} fixture__looser{{/eq~}}
                                            ">
                                        {{#if teams.[1]._id}}
                                            <span class="tl tl-{{teams.[1]._id}}-35 s_valign_m" title="{{~teams.[1].name~}}"></span>
                                        {{else}}
                                            {{~teams.[1].name~}}
                                        {{/if}}
                                    </span>
                                    {{#if score~}}
                                        <span class="
                                            {{~#eq (gameResTeam teams.[1] this) 'w'}} fixture__winner{{/eq~}}
                                            {{~#eq (gameResTeam teams.[1] this) 'l'}} fixture__looser{{/eq~}}
                                            ">
                                            {{~score.ft.[1]~}}
                                        </span>
                                        {{~#if score.pen~}}
                                            <br/><span class="fixture__score_type_pen
                                            {{~#eq (gameResTeam teams.[1] this) 'w'}} fixture__winner{{/eq~}}
                                                {{~#eq (gameResTeam teams.[1] this) 'l'}} fixture__looser{{/eq~}}
                                            ">
                                                {{~score.pen.[1]~}}
                                            </span>
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </a>

                        </div>
                    </div>
                    {{/each}}
                </div>
                </div>
            {{/each}}
        </div>
        {{/each}}
    {{/gt}}
</div>
