<div class="panel panel_type_federations tabbable">
    <div class="panel__header">
        <h4 class="s_m_0"><i class="fa fa-globe s_mr_10"></i> Федерации</h4>

        <ul class="nav nav-tabs">
            {{#each globals.leagues}}
                <li class="tab__title{{#eq ../globals.league.slug slug}} active{{/eq}} federations_count_{{../globals.leagues.length}}">
                    <a href="#tab-federations-{{slug}}" data-toggle="tab">{{name}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="panel__body s_pt_0">
        <div class="row clearfix text_align_c">
            <div class="tab-content s_mt_40">
                {{#each globals.leagues}}
                    <div class="tab-pane{{#eq ../globals.league.slug slug}} active{{/eq}}" id="tab-federations-{{slug}}">
                        {{#each countries}}
                            {{#notContains slug 'universe'}}
                                {{#notContains slug 'world'}}
                                    <div class="col-md-2" style="float: none; display: inline-block;">
                                        <div class="federation">
                                            <div class='flag__wrapper rotate rotate_deg_0'>
                                                <div class="flag flag_country_{{slug}}"></div>
                                            </div>

                                            <h5>{{name}}</h5>

                                            {{~#if vk}}
                                                <div class="socials">
                                                    <ul class="socials__buttons">
                                                        <li>
                                                            <a href="{{../vk}}" class="socials__button" target="_blank"><i class="fa fa-vk"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            {{/if~}}
                                        </div>
                                    </div>
                                {{/notContains}}
                            {{/notContains}}
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>