<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span
                class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                class="icon-bar"></span></button>

        <ul class="nav navbar-nav">
            {{#gt globals.leagues.length 1}}
                <li class="dropdown dropdown_type_leagues">


                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-angle-down"></i>
                        {{~globals.league.name~}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu_type_leagues row">
                        <li>
                            <ul>
                                {{~#each globals.leagues~}}
                                    <li class="dropdown-header">
                                        <a href="/{{slug}}">{{name}}</a>
                                    </li>
                                {{~/each~}}
                            </ul>
                        </li>
                    </ul>
                </li>
            {{else}}
                <li class="navbar__item">
                    <a href="/{{globals.league.slug}}">{{~globals.league.name~}}</a>
                </li>
            {{/gt}}
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar_border_left">
            <li class="dropdown dropdown_type_tournaments">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-angle-down"></i>
                    {{#if globals.tournament}}
                        <span>{{~noYear globals.tournament.name~}}</span>
                    {{else~}}
                        Турниры
                    {{~/if}}
                </a>

                <ul class="dropdown-menu dropdown-menu_type_tournaments row">
                    <li class="col-md-12 s_pt_20">
                        <ul class="row">
                            {{#each globals.league.countries}}
                                <li class="col-md-4">
                                    <ul>
                                        <li class="dropdown-header s_mb_10">
                                            {{name}}
                                        </li>
                                        <ul class="s_mb_10">
                                            {{#each this.tournaments}}
                                                <li class="s_mb_5">
                                                    <a href="/{{../../globals.league.slug}}/tournaments/{{slug}}">{{noYear name}}</a>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </ul>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
        {{#if globals.tournament}}
            <ul class="nav navbar-nav">
                <li class="navbar__item{{#if pageNews}} navbar__item_active_yes{{/if}}">
                    <a href="/{{../globals.league.slug}}/tournaments/{{globals.tournament.slug}}/news">Новости</a>
                </li>
                <li class="navbar__item{{#if pageTable}} navbar__item_active_yes{{/if}}">
                    <a href="/{{../globals.league.slug}}/tournaments/{{globals.tournament.slug}}/table">Таблица</a>
                </li>
                <li class="navbar__item{{#if pageFixture}} navbar__item_active_yes{{/if}}">
                    <a href="/{{../globals.league.slug}}/tournaments/{{globals.tournament.slug}}/fixture">Календарь</a>
                </li>
                <li class="navbar__item{{#if pageStats}} navbar__item_active_yes{{/if}}">
                    <a href="/{{../globals.league.slug}}/tournaments/{{globals.tournament.slug}}/stats">Статистика</a>
                </li>
                <li class="navbar__item{{#if pageTeams}} navbar__item_active_yes{{/if}}">
                    <a href="/{{../globals.league.slug}}/tournaments/{{globals.tournament.slug}}/teams">Клубы</a>
                </li>
                <li class="navbar__item{{#if pageFields}} navbar__item_active_yes{{/if}}">
                    <a href="/{{../globals.league.slug}}/tournaments/{{globals.tournament.slug}}/fields">Поля</a>
                </li>
            </ul>
            {{~else~}}
            <ul class="nav navbar-nav">
                <li class="navbar__item{{#if pageNews}} navbar__item_active_yes{{/if}}">
                    <a href="/{{globals.league.slug}}/news">Новости</a>
                </li>

                <li class="navbar__item{{#if pageFields}} navbar__item_active_yes{{/if}}">
                    <a href="/{{globals.league.slug}}/fields">Поля</a>
                </li>
            </ul>
        {{~/if}}
        <!--<ul class="nav nav_type_user navbar-nav navbar-right navbar_border_left">-->
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
        <!--<i class="fa fa-angle-down"></i>-->
        <!--<i class="fa fa-user"></i>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a href="#">Вход</a></li>-->
        <!--<li><a href="#">Регистрация</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->
        <ul class="nav navbar-nav pull-right">
            <li class="navbar__item{{#if pageContacts}} navbar__item_active_yes{{/if}}">
                <a href="/{{globals.league.slug}}/contacts">Контакты</a>
            </li>
        </ul>
    </div>

</nav>
