{{#if stats.length}}
    <table class="table table_type_table s_m_0">
        {{#unless hideHeader}}
            <thead>
            <tr>
                <th class="col-md-05"><i class="fa fa-sort-numeric-asc"></i></th>
                <th class="col-md-4 text_align_l text_overflow_ellipsis">Имя</th>
                <th class="col-md-3 text_align_l">Клуб</th>
                <th class="col-md-05 text_align_c">И</th>
                <th class="col-md-05 text_align_c">Г</th>
                <th class="col-md-05 text_align_c">П</th>
                <th class="col-md-05 text_align_c text_overflow_ellipsis">Г+П</th>
                <th class="col-md-05 text_align_c">ЖК</th>
                <th class="col-md-05 text_align_c">КК</th>
                <th class="col-md-05 text_align_c"><i class="fa fa-star"></i></th>
                <th class="col-md-1 text_align_c">Очки</th>
            </tr>
            </thead>
        {{/unless}}

        <tbody>
        {{#each stats}}
            <tr class="table__position" data-pos="{{inc @index}}">
                <td class="text_align_l">{{inc @index}}.</td>
                <td class="text_align_l text_overflow_ellipsis">{{name}}</td>
                <td class="text_align_l text_overflow_ellipsis"><span class="tl tl-{{get (last teams) '_id'}}-20 s_mr_10"></span>{{get (last teams) 'name'}}</td>
                <td class="text_align_c">{{played}}</td>
                <td class="text_align_c">{{goals}}</td>
                <td class="text_align_c">{{assists}}</td>
                <td class="text_align_c">{{add goals assists}}</td>
                <td class="text_align_c">{{yellow}}</td>
                <td class="text_align_c">{{red}}</td>
                <td class="text_align_c">{{stars}}</td>
                <td class="text_align_c">{{points}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p class="text_align_c s_pt_10">{{emptyText}}</p>
{{/if}}
