<table class="table s_m_0">
    <thead>
    <tr>
        <th class="col-md-1">#</th>
        <th>Игрок</th>
        <th>Команда</th>
        <th>Позиция</th>
        <th class="col-md-1 text_align_r">Игры</th>
        <th class="col-md-2 text_align_r">Голы</th>
    </tr>
    </thead>

    <tbody>
    {{#each player_stats.assists}}
        <tr>
            <td>{{number}}</td>
            <td>{{player}}</td>
            <td>{{team}}</td>
            <td>{{position}}</td>
            <td class="text_align_r">{{games}}</td>
            <td class="text_align_r">{{goals}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
