{{#if stats.length}}
    <table class="table table_layout_fixed s_m_0">
        <thead>
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-9 text_align_l">Игрок</th>
            <th class="col-md-2 text_align_c">Поз</th>
            <th class="col-md-2 text_align_c">Голы</th>
        </tr>
        </thead>

        <tbody>
        {{#each stats}}
            {{#if _id}}
                <tr>
                    <td class="text_align_c">{{inc @index}}</td>
                    <td class="text_align_l text_overflow_ellipsis">
                        <img class="s_mr_5" src="http://amateurs.io/api/img/teams/{{teams.[0].name}}.png" width="20" height="20"/> {{name}}
                    </td>
                    <td class="text_align_c">{{position}}</td>
                    <td class="text_align_c">{{goals}}</td>
                </tr>
            {{/if}}
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p class="text_align_c s_pt_20 s_pb_10">{{emptyText}}</p>
{{/if}}