<nav class="navbar js-sticky-menu" role="navigation">
    <div class="container s_pl_0 s_pr_0">
        <ul class="nav navbar-nav">
            <li class="dropdown dropdown_type_tournaments">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-angle-down"></i>
                    {{#if globals.tournament}}
                        <span>{{~noYear globals.tournament.name~}}</span>
                        {{else~}}
                        Турниры
                    {{~/if}}
                </a>

                <ul class="dropdown-menu dropdown-menu_type_tournaments row">
                    <li class="col-md-12 s_pt_20">
                        <div class="container s_pl_0 s_pr_0">
                            <ul class="row">
                                {{#each globals.league.countries}}
                                    <li class="col-md-4">
                                        <ul>
                                            <li class="dropdown-header s_mb_10">
                                                {{name}}
                                            </li>
                                            <ul class="s_mb_10">
                                                {{#each this.tournaments}}
                                                    <li class="s_mb_5">
                                                        <a href="/{{../../globals.league.slug}}/tournaments/{{slug}}">{{noYear name}}</a>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </ul>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar_border_left">
            <li class="navbar__item{{#if pageTournament}} navbar__item_active_yes{{/if}}">
                <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}">Турнир</a>
            </li>
            <li class="navbar__item{{#if pageNews}} navbar__item_active_yes{{/if}}">
                <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/news">Новости</a>
            </li>
            <li class="navbar__item{{#if pageTable}} navbar__item_active_yes{{/if}}">
                <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/table">Таблица</a>
            </li>
            <li class="navbar__item{{#if pageFixture}} navbar__item_active_yes{{/if}}">
                <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/fixture">Календарь</a>
            </li>
            <li class="navbar__item{{#if pageStats}} navbar__item_active_yes{{/if}}">
                <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/stats">Статистика</a>
            </li>
            <li class="navbar__item{{#if pageTeams}} navbar__item_active_yes{{/if}}">
                <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/teams">Клубы</a>
            </li>
            <li class="navbar__item{{#if pageFields}} navbar__item_active_yes{{/if}}">
                <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/fields">Поля</a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="navbar__item{{#if promoTournamentPage}} navbar__item_active_yes{{/if}}">
                <a class="navbar-link_type_promo" href="/{{globals.league.slug}}/contacts#order">Подать заявку</a>
            </li>
        </ul>
    </div>
</nav>
