{{#if games.length}}
    {{#each games~}}
        <a href="/tournaments/{{../globals.tournament.slug}}/matches/{{_id}}">
            <span class="table__form table__form_{{gameResTeam ../team this}}"
                  title="{{teams.[0].name}} v {{teams.[1].name}} {{score.ft.[0]}}:{{score.ft.[1]}}">


                {{~#eq (gameResTeam ../team this) 'w'}}В{{/eq~}}
                {{~#eq (gameResTeam ../team this) 'd'}}Н{{/eq~}}
                {{~#eq (gameResTeam ../team this) 'l'}}П{{/eq~}}
            </span>
        </a>
    {{/each~}}
{{else}}
    <p class="text_align_c s_pt_10">{{emptyText}}</p>
{{/if}}
