<div class="row clearfix s_mb_20">
    <div class="col-md-8 column">

        <div class="row s_mb_40">
            <div class="column col-md-12 s_mb_20">
                <img class="s_mb_10" src="http://sharvester.ru/api/img/teams/{{team.teamId}}.png" height="96"/>

                <h2 class="s_display_inline-block s_ml_20">{{team.teamName}}</h2>
            </div>
            <div class="column col-md-12">

                <div class="tabbable" id="tabs-992576">
                    <ul class="nav nav-tabs">
                        <li class="tab__title tab__title_size_half active">
                            <a href="#overview" data-toggle="tab">Обзор</a>
                        </li>
                        <li class="tab__title tab__title_size_half">
                            <a href="#squad" data-toggle="tab">Состав</a>
                        </li>
                    </ul>
                    <div class="tab-content s_pt_20">

                        <!-- Overview tab -->
                        <div class="tab-pane active" id="overview">

                            <div class="row s_mb_20">

                                {{#if table}}
                                <div class="column col-md-6">
                                    <div class="panel s_m_0">
                                        <div class="panel__header">
                                            <i class="fa fa-list-ol s_mr_10"></i> Турнир
                                        </div>
                                        <div class="panel__body">
                                            {{> 'teams_table' table=table}}
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                                <div class="column col-md-{{#if table}}6{{else}}12{{/if}}">
                                    <div class="panel panel_type_form s_m_0">
                                        <div class="panel__header">
                                            <i class="fa fa-list-ol s_mr_10"></i> Форма
                                        </div>
                                        <div class="panel__body text_align_c">
                                            {{> 'teams_form' team=team games=games.form emptyText='Команда ещё не начала турнир'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row s_mb_20">
                                <div class="column col-md-6">
                                    <div class="panel panel_type_fixture s_m_0">
                                        <div class="panel__header">
                                            <i class="fa fa-list-ol s_mr_10"></i> Последние 6 матчей
                                        </div>
                                        <div class="panel__body">
                                            {{> 'teams_fixture' games=games.recent emptyText='Команда ещё не начала турнир'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="column col-md-6">
                                    <div class="panel panel_type_fixture s_m_0">
                                        <div class="panel__header">
                                            <i class="fa fa-list-ol s_mr_10"></i> Следующие 6 матчей
                                        </div>
                                        <div class="panel__body">
                                            {{> 'teams_fixture' games=games.comming emptyText='Команда закончила участие в турнире'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Squads tab -->
                        <div class="tab-pane" id="squad">
                            <div class="panel panel_type_squads panel_type_transparent s_m_0">
                                <div class="panel__body s_pl_0 s_pr_0 s_pt_0">
                                    {{> 'teams_squads' squads=team.players emptyText='Заявка пуста'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- SIDEBAR -->

    <div class="col-md-4 column sidebar">

        {{#if globals.table}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-list-ol s_mr_10"></i> Таблица
                </div>
                <div class="panel__body">
                    {{> table table=globals.table league=globals.league tournament=globals.tournament tableFull=false}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Полная таблица</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/table">
                        <i class="fa fa-arrow-circle-o-right"></i>
                    </a>
                </span>
            </div>
        {{/if}}

        <div class="panel panel_type_fixture s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Последние матчи
            </div>
            <div class="panel__body">
                {{> 'fixture' fixture=globals.recent emptyText='Ещё нет сыгранных матчей' }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/fixture"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>


        <div class="panel panel_type_fixture s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Ближайшие матчи
            </div>
            <div class="panel__body">
                {{> 'fixture' fixture=globals.comming emptyText='Нет запланированных матчей' }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/fixture"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>

        <!-- NEWS -->

        {{#notEmptyObject globals.news}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-quote-right text_size_16 s_mr_10"></i> Новости
                </div>
                <div class="panel__body">
                    {{> news news=globals.news}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все новости</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/news"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/notEmptyObject}}

        <!-- CONTACTS -->

        {{#if globals.tournament.contacts.length}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-phone text_size_16 s_mr_10"></i> Контакты
                </div>
                <div class="panel__body">
                    {{> contacts contacts=globals.tournament.contacts}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все контакты</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/contacts"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/if}}

        <!-- PARTNERS -->
        {{> partners}}
    </div>
</div>
