<div class="row clearfix s_mb_20">
    <div class="col-md-8 column">

        <div class="row s_mb_40 s_mt_20">
            <div class="column col-md-12">
                {{#each teams}}
                    <div class="col-md-3 s_mb_40 text_align_c">
                        <img class="s_mb_10" src="http://sharvester.ru/api/img/teams/{{_id}}.png" height="96"/>
                        <br>
                        <a href="/{{../globals.league.slug}}/tournaments/{{../globals.tournament.slug}}/teams/{{_id}}">{{name}}</a>
                    </div>
                {{/each}}
            </div>
        </div>

    </div>

    <!-- SIDEBAR -->

    <div class="col-md-4 column sidebar">

        {{#if globals.table}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-list-ol s_mr_10"></i> Таблица
                </div>
                <div class="panel__body">
                    {{> table table=globals.table league=globals.league tournament=globals.tournament tableFull=false}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Полная таблица</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/table">
                        <i class="fa fa-arrow-circle-o-right"></i>
                    </a>
                </span>
            </div>
        {{/if}}

        <div class="panel panel_type_fixture s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Последние матчи
            </div>
            <div class="panel__body">
                {{> 'fixture' fixture=globals.recent emptyText='Ещё нет сыгранных матчей' }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/fixture"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>
        <div class="panel panel_type_fixture s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Ближайшие матчи
            </div>
            <div class="panel__body">
                {{> 'fixture' fixture=globals.comming emptyText='Нет запланированных матчей' }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/fixture"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>

        <!-- NEWS -->

        {{#notEmptyObject globals.news}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-quote-right text_size_16 s_mr_10"></i> Новости
                </div>
                <div class="panel__body">
                    {{> news news=globals.news}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все новости</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/news"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/notEmptyObject}}

        <!-- CONTACTS -->

        {{#if globals.tournament.contacts.length}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-phone text_size_16 s_mr_10"></i> Контакты
                </div>
                <div class="panel__body">
                    {{> contacts contacts=globals.tournament.contacts}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все контакты</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/contacts"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/if}}

        <!-- PARTNERS -->
        {{> partners}}
    </div>
</div>
