<div class="block_type_fields row clearfix s_mb_20">
    <div class="column col-md-8">
        <div class="panel panel_type_field s_m_0">
            <div class="panel__header">
                <i class="fa fa-location-arrow text_size_18 s_mr_10 s_valign_m"></i>
                <span>{{field.title}}</span>
            </div>
            <div class="panel__body">
                <div class="text_align_c s_mb_20">
                    <i class="fa fa-map-marker text_size_24"></i><br>
                    <span class="text_color_orange s_valign_m">{{field.address}}</span>
                    <p>{{{field.howto}}}</p>
                </div>
                <div class="field__metro field__metro_{{field.metro.color}} text_align_c s_mb_20">
                    <span class="s_display_inline-block text_size_16 s_mb_10">{{field.metro.name}}</span>
                </div>
                <div class="field__map s_mb_20 js-map" data-lat="{{field.geo.[0]}}" data-long="{{field.geo.[1]}}"></div>

                <div class="field__tournaments text_align_c s_mb_20">
                    <div class="text_size_16 text_color_orange">Играют<br/><i class="fa fa-circle text_size_12"></i></div>
                    {{#each field.countries}}
                        <div class="s_mt_5">
                            <div class='text_size_16'>{{country.name}}</div>
                            {{#each tournaments}}
                                <a class="s_display_block text_color_light"
                                   href="/{{../../globals.league.slug}}/tournaments/{{slug}}/fields">{{noYear name}}
                                </a>
                            {{/each}}
                        </div>
                    {{/each}}
                </div>

                <div class="field__photo">
                    <img src="{{field.image.main.src}}"/>
                </div>
            </div>
        </div>
    </div>

    <!-- SIDEBAR -->
    <div class="col-md-4 column sidebar">

        {{#if globals.tournament._id}}

            {{#if globals.table}}
                <div class="panel s_m_0">
                    <div class="panel__header">
                        <i class="fa fa-list-ol s_mr_10"></i> Таблица
                    </div>
                    <div class="panel__body">
                        {{> table table=globals.table league=globals.league tournament=globals.tournament tableFull=false}}
                    </div>
                </div>
                <div class="link_type_full s_mb_10">
                    <span class="text_color_orange">Полная таблица</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/table"><i
                            class="fa fa-arrow-circle-o-right"></i></a>
                </span>
                </div>
            {{/if}}

            <div class="panel panel_type_fixture s_m_0">
                <div class="panel__header">
                    <i class="fa fa-calendar s_mr_10"></i> Последние матчи
                </div>
                <div class="panel__body">
                    {{> 'fixture' fixture=globals.recent emptyText='Ещё нет сыгранных матчей' }}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Календарь</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/fixture"><i
                            class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
            <div class="panel panel_type_fixture s_m_0">
                <div class="panel__header">
                    <i class="fa fa-calendar s_mr_10"></i> Ближайшие матчи
                </div>
                <div class="panel__body">
                    {{> 'fixture' fixture=globals.comming emptyText='Нет запланированных матчей' }}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Календарь</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/fixture"><i
                            class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>

            <!-- NEWS -->

            {{#notEmptyObject globals.news}}
                <div class="panel s_m_0">
                    <div class="panel__header">
                        <i class="fa fa-quote-right text_size_16 s_mr_10"></i> Новости
                    </div>
                    <div class="panel__body">
                        {{> news news=globals.news}}
                    </div>
                </div>
                <div class="link_type_full s_mb_10">
                    <span class="text_color_orange">Все новости</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/news"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
                </div>
            {{/notEmptyObject}}

            <!-- CONTACTS -->

            {{#if globals.tournament.contacts.length}}
                <div class="panel s_m_0">
                    <div class="panel__header">
                        <i class="fa fa-phone text_size_16 s_mr_10"></i> Контакты
                    </div>
                    <div class="panel__body">
                        {{> contacts contacts=globals.tournament.contacts}}
                    </div>
                </div>
                <div class="link_type_full s_mb_10">
                    <span class="text_color_orange">Все контакты</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/contacts"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
                </div>
            {{/if}}
        {{else}}
            <div class="panel s_mb_20">
                <div class="panel__header">
                    <i class="fa fa-trophy text_size_16 s_mr_10"></i> Турниры
                </div>
                <div class="panel__body">
                    {{#each globals.league.countries}}
                        <h5 class="text_color_orange s_mt_0 s_mb_10">{{name}}</h5>
                        <ul>
                            {{#each tournaments}}
                                <li class="s_ml_20 s_mb_5">
                                    <a href="/{{../../globals.league.slug}}/tournaments/{{slug}}">{{noYear name}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    {{/each}}
                </div>
            </div>

            <!-- NEWS -->

            {{#notEmptyObject globals.news}}
                <div class="panel s_m_0">
                    <div class="panel__header">
                        <i class="fa fa-quote-right text_size_16 s_mr_10"></i> Новости
                    </div>
                    <div class="panel__body">
                        {{> news news=globals.news}}
                    </div>
                </div>
                <div class="link_type_full s_mb_10">
                    <span class="text_color_orange">Все новости</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/news"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
                </div>
            {{/notEmptyObject}}

            <!-- CONTACTS -->

            {{#if globals.contacts.length}}
                <div class="panel s_m_0">
                    <div class="panel__header">
                        <i class="fa fa-phone text_size_16 s_mr_10"></i> Контакты
                    </div>
                    <div class="panel__body">
                        {{> contacts contacts=globals.contacts}}
                    </div>
                </div>
                <div class="link_type_full s_mb_10">
                    <span class="text_color_orange">Все контакты</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/contacts"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
                </div>
            {{/if}}
        {{/if}}
    </div>
</div>
