<div class="row clearfix s_mb_20">
    <div class="col-md-8">

        {{#each fixture}}
            <div id="round-{{@key}}" class="row">
                <div class="column col-md-12">
                    <div class="panel panel_type_fixture">
                        <div class="panel__header">
                            <i class="fa fa-calendar-o text_size_18 s_mr_10 s_valign_m"></i><span class="s_valign_m">{{ucfirst @key}}</span>
                        </div>
                        <div class="panel__body s_pt_10 s_pl_10 s_pr_10 s_pb_10">
                            <table class="table s_m_0">
                                <tbody>
                                {{#each this}}
                                    <tr>
                                        <td class="fixture__time col-md-3 text_size_12{{#unless time}} text_color_light{{/unless}}">
                                            {{~#if dateTime}}{{datetime dateTime}}{{else}}Время не назначено{{/if~}}
                                        </td>
                                        <td class="fixture__team col-md-4 text_align_r s_pr_0
                                            {{~#eq (gameResTeam teams.[0] this) 'w'}} fixture__winner{{/eq~}}
                                            {{~#eq (gameResTeam teams.[0] this) 'l'}} fixture__looser{{/eq~}}
                                            ">
                                            <a href="/{{../../globals.league.slug}}/tournaments/{{../../globals.tournament.slug}}/teams/{{teams.[0]._id}}">{{~teams.[0].name~}}</a>
                                        <td class="text_align_c col-md-1">v</td>
                                        <td class="fixture__team col-md-4 text_align_l s_pl_0
                                            {{~#eq (gameResTeam teams.[0] this) 'l'}} fixture__winner{{/eq~}}
                                            {{~#eq (gameResTeam teams.[0] this) 'w'}} fixture__looser{{/eq~}}
                                            ">
                                            <a href="/{{../../globals.league.slug}}/tournaments/{{../../globals.tournament.slug}}/teams/{{teams.[1]._id}}">{{~teams.[1].name~}}</a>
                                        </td>
                                        </td>

                                        <td class="col-md-1">
                                            <a href="/{{../../globals.league.slug}}/tournaments/{{../../globals.tournament.slug}}/matches/{{_id}}">
                                                {{#if score}}{{~score.ft.[0]}}:{{score.ft.[1]~}}{{else}}-:-{{/if}}
                                            </a>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    <!-- SIDEBAR -->

    <div class="col-md-4 column sidebar">

        <!-- TABLE -->
        {{#if globals.table}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-list-ol s_mr_10"></i> Таблица
                </div>
                <div class="panel__body">
                    {{> table table=globals.table league=globals.league tournament=tournament tableFull=false}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Полная таблица</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/table"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/if}}

        <!-- RECENT -->
        <div class="panel panel_type_fixture s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Последние матчи
            </div>
            <div class="panel__body">
                {{> 'fixture' fixture=globals.recent emptyText='Ещё нет сыгранных матчей' }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/fixture"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>

        <!-- COMMING -->
        <div class="panel panel_type_fixture s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Ближайшие матчи
            </div>
            <div class="panel__body">
                {{> 'fixture' fixture=globals.comming emptyText='Нет запланированных матчей' }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/fixture"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>

        <!-- NEWS -->

        {{#notEmptyObject globals.news}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-quote-right text_size_16 s_mr_10"></i> Новости
                </div>
                <div class="panel__body">
                    {{> news news=globals.news}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все новости</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/news"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/notEmptyObject}}

        <!-- CONTACTS -->

        {{#if globals.tournament.contacts.length}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-phone text_size_16 s_mr_10"></i> Контакты
                </div>
                <div class="panel__body">
                    {{> contacts contacts=globals.tournament.contacts}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все контакты</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/contacts"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/if}}

        <!-- PARTNERS -->
        {{> partners}}
    </div>
</div>
