<h1>{{noYear tournament.name}}</h1>

<div class="row clearfix s_mb_20">
    <div class="col-md-8 column">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="row">
                    <div class="col-md-12 s_mb_20">
                        <div class="panel s_m_0">
                            <div class="panel__header">
                                <i class="fa fa-list-ol s_mr_10"></i> Таблица
                            </div>
                            <div class="panel__body s_p_0 s_pb_5">
                                {{> table table=this.globals.table league=globals.league tournament=tournament tableFull=false showLogo=true}}
                            </div>
                        </div>
                        <div class="link_type_full">
                            <span class="text_color_orange">Полная таблица</span>
                            <span class="pull-right">
                                <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/table"><i
                                        class="fa fa-arrow-circle-o-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="tab__title tab__title_size_half active">
                                    <a href="#tab-strikers" data-toggle="tab">Бомбардиры</a>
                                </li>
                                <li class="tab__title tab__title_size_half">
                                    <a href="#tab-assists" data-toggle="tab">Ассистенты</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-strikers">
                                    <div class="panel s_m_0">
                                        <div class="panel__body s_p_0 s_pb_5">
                                            {{> strikers stats=stats.goals emptyText='Голов ещё не забито'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-assists">
                                    <div class="panel s_m_0">
                                        <div class="panel__body s_p_0 s_pb_5">
                                            {{> assists stats=stats.assists emptyText='Никто не отдавал голевых'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="link_type_full">
                            <span class="text_color_orange">Статистика</span>
                            <span class="pull-right">
                                <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/stats">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#if central}}
            <div class="row clearfix s_mb_20">
                <div class="column col-md-12">
                    <div class="match-main">

                        {{#ifCond central.imageHome '&&' central.imageAway}}
                            <div class="match-main_image match-main_image_home"
                                 style="background-image: url('{{central.imageHome}}');"></div>
                            <div class="match-main_image match-main_image_away"
                                 style="background-image: url('{{central.imageAway}}');"></div>
                        {{else}}
                            <div class="match-main_image match-main_image_home"
                                 style="background-image: url('http://amateurs.io/api/img/teams/{{central.game.teams.[0].name}}.png');"></div>
                            <div class="match-main_image match-main_image_away"
                                 style="background-image: url('http://amateurs.io/api/img/teams/{{central.game.teams.[1].name}}.png');"></div>
                        {{/ifCond}}

                        <div class="match-main_info">
                            <div class="match-main_teams">

                                <a href="/{{globals.league.slug}}/tournaments/{{globals.tournament.slug}}/matches/{{central.game._id}}">
                                    <span class="match-main_team match-main_team_home">{{central.game.teams.[0].name}}</span>
                                    <span class="match-main_vs">vs</span>
                                    <span class="match-main_team match-main_team_away">{{central.game.teams.[1].name}}</span>
                                </a>
                            </div>
                            <div class="match-main_hot">
                                <i class="flaticon-flaming"></i>
                            </div>
                            <div class="match-main_place">
                                <i class="fa fa-location-arrow"></i>
                                <span class="match-main_field">{{central.game.placeName}}</span>
                                <span class="match-main_time">{{date central.game.dateTime}}</span>
                                <span class="match-main_time">{{central.game.time}}</span>
                            </div>
                        </div>

                        <!--<svg width="0" height="0">-->
                        <!--<clipPath id="clip-match-main_image_home">-->
                        <!--<polygon points="300 300,360 150,300 0,0 0,0 300">-->
                        <!--</polygon>-->
                        <!--</clipPath>-->
                        <!--<clipPath id="clip-match-main_image_away">-->
                        <!--<polygon points="0 150,60 300,360 300,360 0,60 0">-->
                        <!--</polygon>-->
                        <!--</clipPath>-->
                        <!--<clipPath id="clip-match-main_info">-->
                        <!--<polygon points="60 150,0 300,200 300,140 150,200 0,0 0">-->
                        <!--</polygon>-->
                        <!--</clipPath>-->
                        <!--</svg>-->
                    </div>
                </div>
            </div>
        {{/if}}

        {{#if previews.length}}
            <div class="row clearfix s_mb_20">
                <div class="col-md-12 column">
                    <div class="panel panel_type_media s_m_0">
                        <div class="panel__header">
                            <h4 class="s_m_0"><i class="fa fa-play-circle s_mr_5"></i> Последние превью</h4>
                        </div>
                        <div class="{{#gt previews.length 1}}flickity{{/gt}}">
                            {{#each previews}}
                                <div class="panel__body">
                                    <div class="row s_mb_20">

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-3 text_align_r s_mt_40">
                                                    <h4>{{game.teams.[0].name}}</h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <img class="s_mr_10" src="http://amateurs.io/api/img/teams/{{game.teams.[0].name}}.png" width="100"
                                                         height="100"/>
                                                </div>
                                                <div class="col-md-2 text_color_light text_align_c s_mt_10 s_pl_0 s_pr_0">
                                                    <i class="fa fa-location-arrow text_color_orange s_mr_5"></i>
                                                    {{#if game.dateTime}}
                                                        <p class="text_size_12 text_color_light s_mb_3">
                                                            {{dateHuman game.dateTime}}<br>
                                                            {{ucfirst (dateDay game.dateTime)}}
                                                        </p>
                                                    {{/if}}
                                                    {{#if game.placeName}}
                                                        <p class="text_size_12 text_color_muted ">
                                                            {{game.placeName}}
                                                        </p>
                                                    {{/if}}
                                                </div>
                                                <div class="col-md-2">
                                                    <img class="s_mr_10" src="http://amateurs.io/api/img/teams/{{game.teams.[1].name}}.png" width="100"
                                                         height="100"/>
                                                </div>
                                                <div class="col-md-3 s_mt_40">
                                                    <h4>{{game.teams.[1].name}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div>
                                                {{{body}}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="link_type_full">
                        <span class="text_color_orange">Все обзоры</span>
                    <span class="pull-right">
                        <a href="/leagues/{{tournament.slug}}/table"><i class="fa fa-arrow-circle-o-right"></i></a>
                    </span>
                    </div>
                </div>
            </div>
        {{/if}}

        {{#if reviews}}
            <div class="row clearfix s_mb_20">
                <div class="col-md-12 column">
                    <div class="panel panel_type_media s_m_0">
                        <div class="panel__header">
                            <h4 class="s_m_0"><i class="fa fa-play-circle s_mr_5"></i> Последние обзоры</h4>
                        </div>
                        <div class="panel__body">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="media__item-wrapper">
                                        <img class="media__item" alt="400x300"
                                             src="https://pp.vk.me/c619622/v619622188/4f4b/ChZYfzg9uZA.jpg"/>
                                    </div>
                                </div>
                                <div class="col-md-5 s_pl_0">
                                    <h4>Вест Хэм Юнайтед <span class="text_color_orange pull-right">4</span></h4>
                                    <h4>Вульверхэмптон <span class="text_color_orange pull-right">3</span></h4>

                                    <p class="text_size_11 s_mb_3"><i class="fa fa-calendar s_mr_5"></i> 03.11.2014 15:40</p>

                                    <p class="text_size_11"><i class="fa fa-location-arrow s_mr_5"></i> Прага</p>

                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                        but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="link_type_full">
                        <span class="text_color_orange">Все обзоры</span>
                    <span class="pull-right">
                        <a href="/leagues/{{tournament.slug}}/table"><i class="fa fa-arrow-circle-o-right"></i></a>
                    </span>
                    </div>
                </div>
            </div>

            <div class="row clearfix s_mb_20">
                <div class="col-md-12 column">
                    <div class="panel panel_type_photo s_m_0">
                        <div class="panel__header">
                            <h4 class="s_m_0"><i class="fa fa-play-circle s_mr_5"></i> Последние фотографии</h4>
                        </div>
                        <div class="panel__body">
                        </div>
                    </div>

                    <div class="link_type_full">
                        <span class="text_color_orange">Все фотографии</span>
                    <span class="pull-right">
                        <a href="/leagues/{{tournament.slug}}/photo"><i class="fa fa-arrow-circle-o-right"></i></a>
                    </span>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="col-md-4 column sidebar">
        <!--<div class="panel s_m_0">-->
        <!--<div class="panel-body">-->
        <!--<form role="form" class="form form_type_signin" action="/login" method="post">-->
        <!--<div class="form-group form-group_icon_left">-->
        <!--<i class="fa fa-user"></i>-->
        <!--<input type="email" class="form-control" id="signin-email" placeholder="myname@amateurs.io">-->
        <!--</div>-->
        <!--<div class="form-group form-group_icon_left">-->
        <!--<i class="fa fa-key"></i>-->
        <!--<input type="password" class="form-control" id="signin-password" placeholder="password">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Войти</button>-->
        <!--</form>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="link_type_full s_mb_20">-->
        <!--<span class="text_color_orange">Регистрация</span>-->
        <!--<span class="pull-right">-->
        <!--<a href="/signup"><i class="fa fa-arrow-circle-o-right"></i></a>-->
        <!--</span>-->
        <!--</div>-->


        <div class="panel panel_type_fixture s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Последние матчи
            </div>
            <div class="panel__body">
                {{> 'fixture' fixture=globals.recent emptyText='Ещё нет сыгранных матчей' }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/fixture">
                    <i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>
        <div class="panel panel_type_fixture s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Ближайшие матчи
            </div>
            <div class="panel__body">
                {{> 'fixture' fixture=globals.comming emptyText='Нет запланированных матчей' }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/fixture">
                    <i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>

        {{#notEmptyObject globals.news}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-quote-right text_size_16 s_mr_10"></i> Новости
                </div>
                <div class="panel__body">
                    {{> news news=globals.news}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все новости</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/news"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/notEmptyObject}}

        <!-- CONTACTS -->

        {{#if globals.tournament.contacts.length}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-phone text_size_16 s_mr_10"></i> Контакты
                </div>
                <div class="panel__body">
                    {{> contacts contacts=globals.tournament.contacts}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все контакты</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/contacts"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/if}}
    </div>
</div>
