<div class="row clearfix s_mb_20">
    <div class="col-md-8 column">

        <div class="row clearfix s_mb_20">
            <div class="col-md-12 column">
                <div class="tabbable">
                    {{~#if league.groupsCount ~}}
                        <ul class="nav nav-tabs">
                            {{~# each league.groups~}}
                                <li class="tab__title tab__title_size_{{../league.groupsCount}}{{#eq 0 @index}} active{{/eq}}">
                                    <a href="#tab-table" data-toggle="tab">Группа {{name}}</a>
                                </li>
                            {{~/each~}}
                        </ul>
                        <div class="tab-content">
                            {{~# each league.groups~}}
                                <div class="tab-pane{{#eq 0 @index}} active{{/eq}}" id="tab-table">
                                    <div class="panel s_m_0">
                                        <div class="panel__body s_p_0 s_pb_5">
                                            {{> 'chess' this tableFull=true league=this}}
                                        </div>
                                    </div>
                                </div>
                            {{~/each~}}
                        </div>
                        {{~else~}}
                        <ul class="nav nav-tabs">
                            <li class="tab__title tab__title_size_full active">
                                <a href="#tab-table" data-toggle="tab">{{tournament.name}}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-table">
                                <div class="panel s_m_0">
                                    <div class="panel__body s_p_0 s_pb_5">
                                        {{> table table=globals.table league=globals.league tournament=tournament tableFull=true showLogo=true}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{~/if~}}
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4 column sidebar">

        <div class="panel panel_type_fixture s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Последние матчи
            </div>
            <div class="panel__body">
                {{> 'fixture' fixture=globals.recent emptyText='Ещё нет сыгранных матчей' }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/fixture"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>
        <div class="panel panel_type_fixture s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Ближайшие матчи
            </div>
            <div class="panel__body">
                {{> 'fixture' fixture=globals.comming emptyText='Нет запланированных матчей' }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/fixture"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>

        <!-- NEWS -->

        {{#notEmptyObject globals.news}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-quote-right text_size_16 s_mr_10"></i> Новости
                </div>
                <div class="panel__body">
                    {{> news news=globals.news}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все новости</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/news"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/notEmptyObject}}

        <!-- CONTACTS -->

        {{#if globals.tournament.contacts.length}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-phone text_size_16 s_mr_10"></i> Контакты
                </div>
                <div class="panel__body">
                    {{> contacts contacts=globals.tournament.contacts}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все контакты</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/contacts"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/if}}
    </div>
</div>
