<div class="row clearfix s_mb_20">
    <div class="col-md-8 column">

        <div class="row">
            <div class="column col-md-12">
                <div class="panel panel_type_transparent">
                    <div class="panel__body s_p_0">
                        <div class="row match">
                            <div class="col-md-4 text_align_r">
                                <img class="pull-left" src="http://amateurs.io/api/img/teams/{{game.teams.[0].name}}.png" width="64">

                                <p class="text_size_32 text_weight_light s_mb_20">{{#if game.score.ft.[0]}}{{game.score.ft.[0]}}{{else}}0{{/if}}</p>

                                <p class="text_color_orange text_size_16">{{game.teams.[0].name}}</p>

                                <ul>
                                    {{#each game.events}}
                                        {{#eq type 'SCORED_H'}}
                                            <li class="text_size_12 text_color_light text_align_r">{{firstField.name}} {{minute}}'</li>
                                        {{/eq}}
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="col-md-4 text_align_c">
                                <div class="match__time s_mb_10{{#gt game.time 40}} gt-50{{/gt}}">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"
                                             style="transform:  rotate({{game.timeGoneDegrees}}deg); -webkit-transform: rotate({{game.timeGoneDegrees}}deg);"></div>
                                    </div>
                                    <div class="ppc-percents">
                                        <div class="pcc-percents-wrapper">
                                            {{#eq game.state 'CLOSED'}}
                                                <span class="match__time_value match__time_value_finished">
                                                    <i class="flaticon flaticon-black188"></i><br>Матч завершен
                                                </span>
                                            {{else}}
                                                {{#if game.timeGone}}
                                                    <span class="match__time_value match__time_value_minutes">{{game.timeGone}}</span>
                                                {{else}}
                                                    <span class="match__time_value match__time_value_not-started">
                                                        <i class="flaticon flaticon-timer20"></i><br>Матч не начался
                                                    </span>

                                                {{/if}}
                                            {{/eq}}
                                        </div>
                                    </div>
                                </div>
                                <p class="s_m_0 text_color_light">
                                    {{#if game.dateTime}}{{ucfirst (dateTimeFull game.dateTime)}}{{else}}Время не определено{{/if}}
                                </p>
                                {{#if game.placeName}}
                                    <p class="s_m_0 text_color_light">Стадион: {{game.placeName}}</p>
                                {{/if}}
                                {{#if game.refereeName}}
                                    <p class="text_color_light">Судья: {{game.refereeName}}</p>
                                {{/if}}
                            </div>
                            <div class="col-md-4 text_align_l">
                                <img class="pull-right" src="http://amateurs.io/api/img/teams/{{game.teams.[1].name}}.png" width="64">

                                <p class="text_size_32 text_weight_light s_mb_20">{{#if game.score.ft.[1]}}{{game.score.ft.[1]}}{{else}}0{{/if}}</p>

                                <p class="text_color_orange text_size_16">{{game.teams.[1].name}}</p>

                                <ul>
                                    {{#each game.events}}
                                        {{#eq type 'SCORED_A'}}
                                            <li class="text_size_12 text_color_light text_align_l">{{minute}}' {{firstField.name}}</li>
                                        {{/eq}}
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row s_mb_40">
            <div class="column col-md-12">
                <div class="tabbable" id="tabs-992576">
                    <ul class="nav nav-tabs">
                        <li class="tab__title tab__title_size_half active">
                            <a href="#tab-lineups" data-toggle="tab">Составы</a>
                        </li>
                        <li class="tab__title tab__title_size_half">
                            <a href="#tab-events" data-toggle="tab">События</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-lineups">
                            <div class="panel panel_type_transparent">
                                <div class="row">
                                    <div class="column col-md-6">
                                        {{#if game.players.[0]}}
                                            {{#each game.players.[0]}}
                                                <div class="row">
                                                    <div class="column col-md-12 s_pr_0">
                                                        <div class="match-lineup__number column col-md-2 text_color_orange">
                                                                    {{#if number}}{{~number~}}{{else}}&mdash;{{/if}}
                                                        </div>
                                                        <div class="match-lineup__player column col-md-8">
                                                            {{~name~}}
                                                        </div>
                                                        <div class="match-lineup__player column col-md-2 text_align_c">
                                                                    {{#if position}}{{~position~}}{{else}}&mdash;{{/if}}
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        {{else}}
                                            <p class="text_align_c s_pt_20 s_pb_10">Состав не определен</p>
                                        {{/if}}
                                    </div>
                                    <div class="column col-md-6">
                                        {{#if game.players.[1]}}
                                            {{#each game.players.[1]}}
                                                <div class="row">
                                                    <div class="column col-md-12 s_pr_0">
                                                        <div class="match-lineup__number column col-md-2 text_color_orange">
                                                                    {{#if number}}{{~number~}}{{else}}&mdash;{{/if}}
                                                        </div>
                                                        <div class="match-lineup__player column col-md-8">
                                                            {{~name~}}
                                                        </div>
                                                        <div class="match-lineup__player column col-md-2 text_align_c">
                                                                    {{#if position}}{{~position~}}{{else}}&mdash;{{/if}}
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        {{else}}
                                            <p class="text_align_c s_pt_20 s_pb_10">Состав не определен</p>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-events">
                            <div class="panel panel_type_transparent">
                                {{#if game.events.length}}
                                    {{#each game.events}}
                                        <div class="row">
                                            <div class="column col-md-2{{#endsWith type '_A'}} s_float_r{{/endsWith}}">
                                                <div class="match-events__time text_align_r">
                                                    {{#eq type 'SCORED_H'}}
                                                        <span class="icon_type_event text_color_orange">Гол!</span>
                                                    {{/eq}}
                                                    {{#eq type 'SCORED_A'}}
                                                        <span class="icon_type_event text_color_orange">Гол!</span>
                                                    {{/eq}}
                                                    {{#eq type 'YELLOW_H'}}
                                                        <i class="icon_type_event icon-yellow"></i>
                                                    {{/eq}}
                                                    {{#eq type 'YELLOW_A'}}
                                                        <i class="icon_type_event icon-yellow"></i>
                                                    {{/eq}}
                                                    {{#eq type 'RED_H'}}
                                                        <i class="icon_type_event icon-red"></i>
                                                    {{/eq}}
                                                    {{#eq type 'RED_A'}}
                                                        <i class="icon_type_event icon-red"></i>
                                                    {{/eq}}
                                                    {{#eq type 'pen'}}
                                                        <i class="icon_type_event icon-penalty"></i>
                                                    {{/eq}}
                                                    {{#eq type 'cor'}}
                                                        <i class="icon_type_event icon-corner"></i>
                                                    {{/eq}}
                                                    {{#eq type 'inj'}}
                                                        <i class="icon_type_event icon-injury"></i>
                                                    {{/eq}}
                                                    {{minute}}'
                                                </div>
                                            </div>
                                            <div class="column col-md-10">
                                                <div class="match-events__description pull-right {{#endsWith type '_A'}} text_align_r{{/endsWith~}}
                                                    {{~#if secondField}} match-events__description_double{{/if}}">

                                                    {{~#if firstField.number}}<span class="text_color_orange">{{firstField.number}}.</span> {{/if~}}
                                                    {{~firstField.name~}}
                                                    {{~#if secondField~}}
                                                        <br>
                                                        {{~#if secondField.number~}}
                                                            <span class="text_color_light">{{secondField.number}}. {{secondField.name}}</span>
                                                        {{~/if~}}
                                                    {{~/if~}}
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                {{else}}
                                    <p class="text_align_c s_pt_20 s_pb_20">Нет событий</p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row s_mb_20">
            <div class="column col-md-12">
                <div class="tabbable" id="tabs-992576">
                    <ul class="nav nav-tabs">
                        <li class="tab__title tab__title_size_third active">
                            <a href="#tab-preview" data-toggle="tab">Превью</a>
                        </li>
                        <li class="tab__title tab__title_size_third">
                            <a href="#tab-review" data-toggle="tab">Обзор матча</a>
                        </li>
                        <li class="tab__title tab__title_size_third">
                            <a href="#tab-photo" data-toggle="tab">Фотоотчет</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-preview">

                            <div class="panel panel_type_media s_m_0">
                                <div class="panel__body">
                                    <div class="s_pl_0">
                                        <h4>{{game.teams.[0].name}} v {{game.teams.[1].name}}</h4>

                                        <div>{{{media.preview.body}}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-review">

                            <div class="panel panel_type_media s_m_0">
                                <div class="panel__body">
                                    <div class="s_pl_0">
                                        <h4>{{game.teams.[0].name}} <span class="text_color_orange pull-right">{{game.score.ft.[0]}}</span></h4>
                                        <h4>{{game.teams.[1].name}} <span class="text_color_orange pull-right">{{game.score.ft.[1]}}</span></h4>

                                        <div>{{{media.review.body}}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-photo">

                            <div class="panel panel_type_photo s_m_0">
                                <div class="panel__body">
                                    <div class="row s_mb_10">
                                        <div class="column col-md-2"><img
                                                src="http://lorempixel.com/200/200/sports/?q={{#rand 0 20}}{{/rand}}"></div>
                                        <div class="column col-md-2"><img
                                                src="http://lorempixel.com/200/200/sports/?q={{#rand 0 20}}{{/rand}}"></div>
                                        <div class="column col-md-2"><img
                                                src="http://lorempixel.com/200/200/sports/?q={{#rand 0 20}}{{/rand}}"></div>
                                        <div class="column col-md-2"><img
                                                src="http://lorempixel.com/200/200/sports/?q={{#rand 0 20}}{{/rand}}"></div>
                                        <div class="column col-md-2"><img
                                                src="http://lorempixel.com/200/200/sports/?q={{#rand 0 20}}{{/rand}}"></div>
                                        <div class="column col-md-2"><img
                                                src="http://lorempixel.com/200/200/sports/?q={{#rand 0 20}}{{/rand}}"></div>
                                    </div>
                                    <div class="row">
                                        <div class="column col-md-2"><img
                                                src="http://lorempixel.com/200/200/sports/?q={{#rand 0 20}}{{/rand}}"></div>
                                        <div class="column col-md-2"><img
                                                src="http://lorempixel.com/200/200/sports/?q={{#rand 0 20}}{{/rand}}"></div>
                                        <div class="column col-md-2"><img
                                                src="http://lorempixel.com/200/200/sports/?q={{#rand 0 20}}{{/rand}}"></div>
                                        <div class="column col-md-2"><img
                                                src="http://lorempixel.com/200/200/sports/?q={{#rand 0 20}}{{/rand}}"></div>
                                        <div class="column col-md-2"><img
                                                src="http://lorempixel.com/200/200/sports/?q={{#rand 0 20}}{{/rand}}"></div>
                                        <div class="column col-md-2"><img
                                                src="http://lorempixel.com/200/200/sports/?q={{#rand 0 20}}{{/rand}}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SIDEBAR -->

    <div class="col-md-4 column sidebar">

        {{#if globals.table}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-list-ol s_mr_10"></i> Таблица
                </div>
                <div class="panel__body">
                    {{> table table=globals.table league=globals.league tournament=tournament tableFull=false}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Полная таблица</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/table">
                        <i class="fa fa-arrow-circle-o-right"></i>
                    </a>
                </span>
            </div>
        {{/if}}

        <div class="panel panel_type_fixture s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Последние матчи
            </div>
            <div class="panel__body">
                {{> 'fixture' fixture=globals.recent emptyText='Ещё нет сыгранных матчей' }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/fixture"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>

        <div class="panel panel_type_fixture s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Ближайшие матчи
            </div>
            <div class="panel__body">
                {{> 'fixture' fixture=globals.comming emptyText='Нет запланированных матчей' }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/fixture"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>

        <!-- NEWS -->

        {{#notEmptyObject globals.news}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-quote-right text_size_16 s_mr_10"></i> Новости
                </div>
                <div class="panel__body">
                    {{> news news=globals.news}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все новости</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/tournaments/{{tournament.slug}}/news"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/notEmptyObject}}


        <!-- CONTACTS -->

        {{#if globals.contacts.length}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-phone text_size_16 s_mr_10"></i> Контакты
                </div>
                <div class="panel__body">
                    {{> contacts}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все контакты</span>
                <span class="pull-right">
                    <a href="/contacts"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/if}}
    </div>
</div>
