<h1>{{league.name}}</h1>

<div class="row clearfix s_mb_20">
    <div class="col-md-8 column">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="row">
                    <div class="col-md-12 s_mb_20">
                        <div class="tabbable">
                            {{~#if league.groupsCount ~}}
                                <ul class="nav nav-tabs">
                                    {{~# each league.groups~}}
                                        <li class="tab__title tab__title_size_{{../league.groupsCount}}{{#eq 0 @index}} active{{/eq}}">
                                            <a href="#tab-table" data-toggle="tab">Группа {{name}}</a>
                                        </li>
                                    {{~/each~}}
                                </ul>
                                <div class="tab-content">
                                    {{~# each league.groups~}}
                                        <div class="tab-pane{{#eq 0 @index}} active{{/eq}}" id="tab-table">
                                            <div class="panel s_m_0">
                                                <div class="panel__body s_p_0 s_pb_5">
                                                    {{$ 'table' this tableFull=false league=this}}
                                                </div>
                                            </div>
                                        </div>
                                    {{~/each~}}
                                </div>
                                {{~else~}}
                                <ul class="nav nav-tabs">
                                    <li class="tab__title tab__title_size_full active">
                                        <a href="#tab-table" data-toggle="tab">Таблица</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-table">
                                        <div class="panel s_m_0">
                                            <div class="panel__body s_p_0 s_pb_5">
                                                {{$ 'table' this tableFull=false league=league}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{~/if~}}
                        </div>
                        <div class="link_type_full">
                            <span class="text_color_orange">Полная таблица</span>
                            <span class="pull-right">
                                <a href="/leagues/{{league.slug}}/table"><i class="fa fa-arrow-circle-o-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="tab__title tab__title_size_half active">
                                    <a href="#tab-strikers" data-toggle="tab">Бомбардиры</a>
                                </li>
                                <li class="tab__title tab__title_size_half">
                                    <a href="#tab-assists" data-toggle="tab">Ассистенты</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-strikers">
                                    <div class="panel s_m_0">
                                        <div class="panel__body s_p_0 s_pb_5">
                                            {{> strikers league}}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-assists">
                                    <div class="panel s_m_0">
                                        <div class="panel__body s_p_0 s_pb_5">
                                            {{> assists league}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="link_type_full">
                            <span class="text_color_orange">Статистика</span>
                            <span class="pull-right">
                                <a href="/leagues/{{league.slug}}/table"><i class="fa fa-arrow-circle-o-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix s_mb_20">
            <div class="column col-md-12">
                <div class="match-main">
                    <div class="match-main_image match-main_image_home"
                         style="background-image: url('http://cs622320.vk.me/v622320626/2ba6/FIwZFevRtV4.jpg');"></div>
                    <div class="match-main_image match-main_image_away"
                         style="background-image: url('http://cs14115.vk.me/c625329/v625329876/35e5/pkImTBpAwdY.jpg');
                         background-position-y: -90px;"></div>
                    <div class="match-main_info">
                        <div class="match-main_teams">
                            <span class="match-main_team match-main_team_home">Вест Хэм Юнайтед</span>
                            <span class="match-main_vs">vs</span>
                            <span class="match-main_team match-main_team_away">Ливерпуль</span>
                        </div>
                        <div class="match-main_hot">
                            <i class="flaticon-flaming"></i>
                        </div>
                        <div class="match-main_place">
                            <i class="fa fa-location-arrow"></i>
                            <span class="match-main_field">Прага</span>
                            <span class="match-main_time">16:40</span>
                        </div>
                    </div>

                    <!--<svg width="0" height="0">-->
                    <!--<clipPath id="clip-match-main_image_home">-->
                    <!--<polygon points="300 300,360 150,300 0,0 0,0 300">-->
                    <!--</polygon>-->
                    <!--</clipPath>-->
                    <!--<clipPath id="clip-match-main_image_away">-->
                    <!--<polygon points="0 150,60 300,360 300,360 0,60 0">-->
                    <!--</polygon>-->
                    <!--</clipPath>-->
                    <!--<clipPath id="clip-match-main_info">-->
                    <!--<polygon points="60 150,0 300,200 300,140 150,200 0,0 0">-->
                    <!--</polygon>-->
                    <!--</clipPath>-->
                    <!--</svg>-->
                </div>
            </div>
        </div>

        <div class="row clearfix s_mb_20">
            <div class="col-md-12 column">
                <div class="panel panel_type_media s_m_0">
                    <div class="panel__header">
                        <h4 class="s_m_0"><i class="fa fa-play-circle s_mr_5"></i> Последние обзоры</h4>
                    </div>
                    <div class="panel__body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="media__item-wrapper">
                                    <img class="media__item" alt="400x300"
                                         src="https://pp.vk.me/c619622/v619622188/4f4b/ChZYfzg9uZA.jpg"/>
                                </div>
                            </div>
                            <div class="col-md-5 s_pl_0">
                                <h4>Вест Хэм Юнайтед <span class="text_color_orange pull-right">4</span></h4>
                                <h4>Вульверхэмптон <span class="text_color_orange pull-right">3</span></h4>

                                <p class="text_size_11 s_mb_3"><i class="fa fa-calendar s_mr_5"></i> 03.11.2014 15:40</p>

                                <p class="text_size_11"><i class="fa fa-location-arrow s_mr_5"></i> Прага</p>

                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="link_type_full">
                    <span class="text_color_orange">Все обзоры</span>
                    <span class="pull-right">
                        <a href="/leagues/{{league.slug}}/table"><i class="fa fa-arrow-circle-o-right"></i></a>
                    </span>
                </div>
            </div>
        </div>

        <div class="row clearfix s_mb_20">
            <div class="col-md-12 column">
                <div class="panel panel_type_photo s_m_0">
                    <div class="panel__header">
                        <h4 class="s_m_0"><i class="fa fa-play-circle s_mr_5"></i> Последние фотографии</h4>
                    </div>
                    <div class="panel__body">
                    </div>
                </div>

                <div class="link_type_full">
                    <span class="text_color_orange">Все фотографии</span>
                    <span class="pull-right">
                        <a href="/leagues/{{league.slug}}/photo"><i class="fa fa-arrow-circle-o-right"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 column">
        <!--<div class="panel s_m_0">-->
            <!--<div class="panel-body">-->
                <!--<form role="form" class="form form_type_signin" action="/login" method="post">-->
                    <!--<div class="form-group form-group_icon_left">-->
                        <!--<i class="fa fa-user"></i>-->
                        <!--<input type="email" class="form-control" id="signin-email" placeholder="myname@amateurs.io">-->
                    <!--</div>-->
                    <!--<div class="form-group form-group_icon_left">-->
                        <!--<i class="fa fa-key"></i>-->
                        <!--<input type="password" class="form-control" id="signin-password" placeholder="password">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default">Войти</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="link_type_full s_mb_20">-->
            <!--<span class="text_color_orange">Регистрация</span>-->
            <!--<span class="pull-right">-->
                <!--<a href="/signup"><i class="fa fa-arrow-circle-o-right"></i></a>-->
            <!--</span>-->
        <!--</div>-->

        <div class="panel s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Последние матчи
            </div>
            <div class="panel__body">
                {{$ 'fixture' fixture=globals.recent }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/leagues/{{league.slug}}/fixture"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>
        <div class="panel s_m_0">
            <div class="panel__header">
                <i class="fa fa-calendar s_mr_10"></i> Ближайшие матчи
            </div>
            <div class="panel__body">
                {{$ 'fixture' fixture=globals.comming }}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Календарь</span>
            <span class="pull-right">
                <a href="/leagues/{{league.slug}}/fixture"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>


        <div class="panel s_m_0">
            <div class="panel__header">
                <i class="fa fa-phone text_size_16 s_mr_10"></i> Контакты
            </div>
            <div class="panel__body">
                {{> contacts}}
            </div>
        </div>
        <div class="link_type_full s_mb_10">
            <span class="text_color_orange">Все контакты</span>
            <span class="pull-right">
                <a href="/contacts"><i class="fa fa-arrow-circle-o-right"></i></a>
            </span>
        </div>
    </div>
</div>
