<h1>{{league.name}}</h1>

<div class="row clearfix s_mb_20">
    <div class="col-md-8 column">
        <div class="row clearfix">
            <div class="col-md-12">
                {{#each league.countries}}
                    <h3 class="s_mt_0 s_mb_20">{{name}}</h3>

                    <div class="tabbable s_mb_40">
                        <ul class="nav nav-tabs">
                            {{#each tournaments}}
                                <li class="tab__title tab__title_size_{{../tournaments.length}}{{#eq 0 @index}} active{{/eq}}">
                                    <a href="#tab-table-{{_id}}" data-toggle="tab">{{name}}</a>
                                </li>
                            {{/each}}
                        </ul>
                        <div class="tab-content">
                            {{~# each tournaments~}}
                                <div class="tab-pane{{#eq 0 @index}} active{{/eq}}" id="tab-table-{{_id}}">
                                    <div class="panel s_m_0">
                                        <div class="panel__body s_p_0 s_pb_5">
                                            {{> table table=table league=../../league tournament=this tableFull=true showLogo=true}}
                                        </div>
                                    </div>
                                    <div class="link_type_full s_mb_10">
                                        <span class="text_color_orange">Таблица</span>
                                        <span class="pull-right">
                                            <a href="/{{../../league.slug}}/tournaments/{{slug}}/table"><i class="fa fa-arrow-circle-o-right"></i></a>
                                        </span>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-md-4 column sidebar">
        <!--<div class="panel s_m_0">-->
        <!--<div class="panel-body">-->
        <!--<form role="form" class="form form_type_signin" action="/login" method="post">-->
        <!--<div class="form-group form-group_icon_left">-->
        <!--<i class="fa fa-user"></i>-->
        <!--<input type="email" class="form-control" id="signin-email" placeholder="myname@amateurs.io">-->
        <!--</div>-->
        <!--<div class="form-group form-group_icon_left">-->
        <!--<i class="fa fa-key"></i>-->
        <!--<input type="password" class="form-control" id="signin-password" placeholder="password">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Войти</button>-->
        <!--</form>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="link_type_full s_mb_20">-->
        <!--<span class="text_color_orange">Регистрация</span>-->
        <!--<span class="pull-right">-->
        <!--<a href="/signup"><i class="fa fa-arrow-circle-o-right"></i></a>-->
        <!--</span>-->
        <!--</div>-->

        <div class="panel s_mb_20">
            <div class="panel__header">
                <i class="fa fa-trophy text_size_16 s_mr_10"></i> Турниры
            </div>
            <div class="panel__body">
                {{#each league.countries}}
                    <h5 class="text_color_orange s_mt_0 s_mb_10">{{name}}</h5>
                    <ul>
                        {{#each tournaments}}
                            <li class="s_ml_20 s_mb_5">
                                <a href="/{{../../globals.league.slug}}/tournaments/{{slug}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                {{/each}}
            </div>
        </div>

        <!-- NEWS -->

        {{#notEmptyObject globals.news}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-quote-right text_size_16 s_mr_10"></i> Новости
                </div>
                <div class="panel__body">
                    {{> news news=globals.news}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все новости</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/news"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/notEmptyObject}}

        <!-- CONTACTS -->

        {{#if globals.contacts.length}}
            <div class="panel s_m_0">
                <div class="panel__header">
                    <i class="fa fa-phone text_size_16 s_mr_10"></i> Контакты
                </div>
                <div class="panel__body">
                    {{> contacts contacts=globals.contacts}}
                </div>
            </div>
            <div class="link_type_full s_mb_10">
                <span class="text_color_orange">Все контакты</span>
                <span class="pull-right">
                    <a href="/{{globals.league.slug}}/contacts"><i class="fa fa-arrow-circle-o-right"></i></a>
                </span>
            </div>
        {{/if}}
    </div>
</div>
